.contact .contact-form{
    background-color: var(--cultured);
}

.contact .contact-form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding-bottom: 10px;
}

.contact .contact-form textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.contact .contact-form button{
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 18px 58px;
    border: none;
    border: 1px solid black;
    margin-top: 10px;
}

@media (max-width:540px) {
    .contact h4{
        font-size: 20px;
    }

    .contact .contact-form{
        padding: 15px !important;
    }
}