@import url('../../index.css');

nav {
    .logo {
        height: 100px;
    }

    li {
        font-size: 18px;
        transition: all .3s;
        cursor: pointer;
        
    }

    li:hover{
        color: var(--medium-blue);
    }
   
}

nav .nav-drop-language{
    background-color: var(--white);
    display: none;
}

nav .nav-language:hover .nav-drop-language{
    position: absolute;
    display: block;
    margin: 5px 0 0 -30px;
}

nav .nav-drop-language li{
    padding: 0 30px 0 0 !important;
}

nav .offcanvas-body .res-nav{
    margin-left: -24px;
}


